{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="container">
    <div class="page-header">
      <h1 class="all-tittles">Bienvenidos <small>Inicio</small></h1>
    </div>
</div>
<section class="full-reset text-center"">
    <article class="tile">
        <img src="{% static 'assets/img/ba.jpg'%}" alt="Biblioteca" class="img-responsive center-box" style="padding: 40px;">
    </article>
    <article class="tile">
        <img src="{% static 'assets/img/ICEP.jpg'%}" alt="Biblioteca" class="img-responsive center-box" style="width: 90%;">
    </article>
</section>
{% endblock %}



