{% extends 'base.html' %}
{% block title %}Listado De Las Secretarias{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="page-header">
      <h1 class="all-tittles">Listado De Secretarias</h1>
    </div>
</div>
<div class="container-fluid"  style="margin: 50px 0;">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">
            <img src="{% static 'assets/img/user.png' %}" alt="calendar" class="img-responsive center-box" style="max-width: 110px;">
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
            Bienvenido a esta sección, aquí se muestran todas las Secretarias registradas<br>
                    <strong class="text-danger"><i class="zmdi zmdi-alert-triangle"></i> &nbsp; ¡Importante! </strong>Si eliminas los datos de la secretaria del sistema se borrarán todos los datos relacionados y no podra iniciar sesión.</div>
    </div>
</div>
          <br>
          <hr>  
{% if request.user.is_director %}
  <div class="row container-fluid">
    <div class="col-sm-12">
      <div class="div-table" style="margin:0 !important;">
        <div class="card-body">
          <div id="sampleTable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                  <thead>
                    <tr role="row">
                      <th>Cedula</th>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Email</th>
                      <th>Catedra</th>
                      <th>Actualizar</th>
                      <th>Eliminar</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if object_list %}
                      {% for users in object_list %}
                      <td>{{ users.ci }}</td>
                      <td>{{ users.first_name }}</td>
                      <td>{{ users.last_name }}</td>
                      <td>{{ users.email }}</td>
                      <td>{% if users.is_secretaria_danza == True %} Danza {% elif users.is_secretaria_teatro == True %} Teatro {% elif users.is_secretaria_musica == True %}  Musica {% elif users.is_secretaria_artes %} Artes Plasticas {% elif user.is_director %} Director {% endif %}</td>
                      
                      <td align="center"><a href="{% url 'aunth:update_user' users.pk %}" class="btn btn-success"><i class="zmdi zmdi-refresh"></a></td>

                      <td align="center"><a href="{% url 'aunth:delete_users' users.pk %}" class="btn btn-danger"><i class="zmdi zmdi-delete"></a></td>
                        </div>
                        </tr>
                      {% endfor %}
                    {% else %}
                        <td valign="top" colspan="7" class="dataTables_empty">No hay datos disponibles en la tabla</td>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>             
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}