{% extends 'base.html' %}
{% block title %}Registro{% endblock %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="page-header">
      <h1 class="all-tittles">Sistema De Registro <small>Secretarias</small></h1>
    </div>
</div>
<div class="container-fluid"  style="margin: 50px 0;">
  <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3">
          <img src="{% static 'assets/img/category.png'%}" alt="user" class="img-responsive center-box" style="max-width: 110px;">
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
          Bienvenido a la sección para registrar nuevas secretarias al sistema, debes de seleccionar los datos en el siguiente formulario para registrar una secretaria.
      </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container-flat-form">
      <div class="title-flat-form title-flat-blue">Crear Secretaria</div>
      <form method="POST" id="form" role="form">{% csrf_token %}
          <div class="row">
            <div class="container-fluid">
                <ul class="nav nav-tabs nav-justified"  style="font-size: 17px;">
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
              
              <!-- Formulario Secretarias -->
              <div class="col-xs-12 col-sm-8 col-sm-offset-2 tab-pane fade active in" id="Actividad">
                <br>
                <div class="material-control tooltips-general">    

                  <div class="group-material col-md-12">
                      {{form.username|attr:'onkeypress:return valida(event);'|attr:'autocomplete:off'|attr:'onkeyup:cedula();' |add_class:'form-control'|attr:"placeholder:Cedula Secretaria"|add_class:'material-control tooltips-general'|attr:'validate:LETRAS,SIMBOLOS,FLECHAS,ENTER,ESPACIO'}}
                    <span class="help-block text-danger">{{ form.errors.Actividad }}</span>
                    {{ form.ci|attr:'value:'|attr:'hidden:True' }}
                  </div>

                  <div class="group-material col-md-12">
                      {{form.first_name |add_class:'form-control'|attr:'onkeypress:return soloLetras(event);'|attr:'autocomplete:off'|attr:"placeholder:Nombre De La Secretaria"|add_class:'material-control tooltips-general'|attr:'validate:LETRAS,SIMBOLOS,FLECHAS,ENTER,ESPACIO'}}
                    <span class="help-block text-danger">{{ form.errors.descripcion }}</span>
                  </div>
                  
                  <div class="group-material col-md-12">
                      {{form.last_name |add_class:'form-control'|attr:'onkeypress:return soloLetras(event);'|attr:'autocomplete:off'|attr:"placeholder:Apellido De La Secretaria"|add_class:'material-control tooltips-general'|attr:'validate:LETRAS,SIMBOLOS,FLECHAS,ENTER,ESPACIO'}}
                    <span class="help-block text-danger">{{ form.errors.status }}</span>
                  </div>
                  
                  <div class="group-material col-md-12">
                    {{ form.email|add_class:'material-control tooltips-general'|attr:'autocomplete:off'|attr:'placeholder:Email Valido' }}
                  </div>

                  <div class="group-material col-md-12">
                    {{ form.password1|add_class:'material-control tooltips-general'|attr:'placeholder:Contraseña' }}
                  </div>
                  <div class="group-material col-md-12">
                    {{ form.password2|add_class:'material-control tooltips-general'|attr:'placeholder:Repita Contraseña' }}
                  </div>

                  <div class="checkbox">
                    <label>
                      {{ form.is_secretaria_danza|attr:'type:checkbox' }}<span name="optionsCheckboxes">Secretaria Danza</span>
                    </label>
                  </div>

                  <div class="checkbox">
                    <label>
                      {{ form.is_secretaria_teatro|attr:'type:checkbox' }}<span name="optionsCheckboxes">Secretaria Teatro</span>
                    </label>
                  </div>

                  <div class="checkbox">
                    <label>
                      {{ form.is_secretaria_artes|attr:'type:checkbox' }}<span name="optionsCheckboxes">Secretaria Artes</span>
                    </label>
                  </div>

                  <div class="checkbox">
                    <label>
                      {{ form.is_secretaria_musica|attr:'type:checkbox' }}<span name="optionsCheckboxes">Secretaria Musica</span>
                    </label>
                  </div>
                  {{ form.is_superuser|attr:'type:checkbox'|attr:'checked:True'|attr:'hidden:True' }}
                  {{ form.is_staff|attr:'type:checkbox'|attr:'checked:True'|attr:'hidden:True' }}
                    
                    {% if form.errors %}
                      {{ form.errors }}
                    {% endif %}

                  <div class="group-material col-md-6">
                    <!-- catedra De la Actividad -->
                    <div class="Catedra">
                 {{form.catedra 	|add_class:'form-control'|attr:"placeholder:catedra"|add_class:'material-control tooltips-general'|attr:'validate:LETRAS,SIMBOLOS,FLECHAS,ENTER,ESPACIO'}}
                    </div>
                    <span class="help-block text-danger">{{ form.errors.catedra }}</span>
                  </div>
                  </div>


                <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                <button type="submit" class="btn btn-primary" value="Guardar"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
              </div>
            </div>
         </div>
     </form>
  </div>
</div>
<script>
  function valida(e){
    tecla = (document.all) ? e.keyCode : e.which;

    //Tecla de retroceso para borrar, siempre la permite
    if (tecla==8){
        return true;
    }
        
    // Patron de entrada, en este caso solo acepta numeros
    patron =/[0-9]/;
    tecla_final = String.fromCharCode(tecla);
    return patron.test(tecla_final);
  }
  function cedula(){

    document.getElementById('id_ci').value = document.getElementById('id_username').value;

  }
  function soloLetras(e) {
    key = e.keyCode || e.which;
    tecla = String.fromCharCode(key).toLowerCase();
    letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
    especiales = [8, 37, 39, 46];

    tecla_especial = false
    for(var i in especiales) {
        if(key == especiales[i]) {
            tecla_especial = true;
            break;
        }
    }

    if(letras.indexOf(tecla) == -1 && !tecla_especial)
        return false;
  }
</script>
{% endblock %}