{% load staticfiles %}

{% block content%}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="Refresh" content="6;url=/bienvenido/">
	<title>Bellas Artes</title>
</head>
<body>		
	<div class="container" id="container">
	    <h1 align="center">
	        <img class="img" src="/static/img/Cargando.gif">
	    </h1>
		<div class="preloader" align="center">

			<h1><p>Cargando...</p></h1>
		</div>
	</div>
	<script src="/static/js/preloader.js"></script>
</body>
</html>
{% endblock content%}
