{% extends 'base3.html' %}



{% block jumbotron %}
    <!-- Jumbotron -->
    <div class="jumbotron">
      <h1>Image uploader</h1>
      <p class="lead">This is just a simple view to upload images to an album.</p>

    </div>
{% endblock %}



{% block content %}

    {% if message %}
      <div class='alert alert-info'>
        {{ message }}
      </div>
    {% endif %}

    <h3>Upload a picture</h3> 
    <form  role="form"  enctype="multipart/form-data" action="" method="POST" id="upload-image-form"> 
        {% csrf_token %}
        {{ form.as_p }}
    </form>

{% endblock %}
